@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,400;6..12,600&display=swap");

@media screen and (min-width: 1025px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 135px;
    padding-left: 135px;
    margin-top: 30px;
    width: 100vw;
  }

  .craftingVision {
    display: flex;
    flex-direction: row;
    background-color: #e9f4ff;
    height: 623px;
    margin-top: 30px;
    justify-content: space-between;
    width: 100vw;
  }

  .textCrafting {
    color: #1a2630;
    position: relative;
    font-family: "Nunito Sans";
    font-size: 54px;
    text-align: left;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    width: 561px;
    margin-top: 0px;
  }

  .CraftingSubline {
    background: url(Assets/vuesax/outline/CraftingSubline.svg) 0 bottom
      no-repeat;
    background-size: contain;
    font-family: "Nunito Sans";
  }

  .leftPart1 {
    padding-left: 135px;
    align-items: flex-start;
  }

  .LestTalk {
    display: inline-flex;
    border-radius: 8px;
    background: #4361ee;
    padding: 16px 34px;
    align-items: center;
    gap: 6px;
    border: none;
    font-family: "Nunito Sans", sans-serif;
    color: white;
    font-weight: 700;
    font-size: 18px;
    margin-top: 20px;
  }

  .rowsDots {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15.625px;
    margin-top: 80px;
    margin-left: -20px;
    position: absolute;
  }

  .workingWomanImg {
    flex-basis: 50%;
    position: relative;
    width: 567.889px;
    height: 616.016px;
    margin-top: 100px;
    border-radius: 15px;
    margin-right: 135px;
  }

  .BrandIdentity {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }

  .BrandIdentityTitle {
    font-size: 48px;

    margin-top: 153px;
  }

  .BrandIdentitySubTitle {
    width: 888px;
    font-size: 20px;
    margin-top: 40px;
    text-align: center;
  }

  .BrandSubline {
    background: url(Assets/vuesax/outline/BrandSubline.svg) 0 bottom no-repeat;
    background-size: contain;
  }

  .leftPartBrand {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .brandSubText {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 56px;
    margin-right: 135px;
    width: 670px;
  }

  .BrandImg {
    width: 411px;
    height: 381px;
    margin-top: 40px;
    margin-left: 168px;
  }

  .brandText1 {
    width: 670px;
    font-size: 20px;
    margin-top: 40px;
    text-align: left;
    width: 670px;
  }

  .brandText2 {
    width: 670px;
    margin-top: 20px;
    text-align: left;
    font-size: 20px;
    width: 670px;
  }

  .Services {
    width: 100vw;
    height: 1102px;
  }

  .ServicesTitle {
    font-size: 48px;
    margin-top: 80px;
  }

  .rectangleDiv {
    display: grid;
    row-gap: 50px;
    column-gap: 30px;
    flex-direction: row;
    justify-content: center;
    grid-template-columns: auto auto auto auto;
    margin-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .ServiceSubline {
    background: url(Assets/vuesax/outline/ServiceSubline.svg) 0 bottom no-repeat;
    background-size: contain;
  }

  .designRectangle1,
  .designRectangle2,
  .designRectangle3,
  .designRectangle4,
  .designRectangle5,
  .designRectangle6,
  .designRectangle7,
  .designRectangle8 {
    display: flex;
  }

  .rectangle {
    width: 270px;
    height: 320px;
  }

  .logoRectangleDiv {
    gap: 14px;
    font-size: 20px;
    margin-top: 214px;
    padding-left: 30px;
    width: 300px;
  }

  .vuesaxLogo {
    width: 36px;
    height: 36px;
  }

  .RequestQuoteDiv {
    font-size: 16px;
    padding-left: 30px;
    padding-top: 140px;
  }

  .ViewMoreBtn {
    margin-top: 60px;
  }

  .HappyStories {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }

  .HappyStoriesTitle {
    font-size: 48px;
    margin-top: 130px;
  }

  .StoriesSubline {
    background: url(Assets/vuesax/outline/StoriesSubline.svg) 0 bottom no-repeat;
    background-size: contain;
  }

  .bannerArrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 82px;
  }

  .arrowLeft {
    display: flex;
    width: 50px;
    height: 50px;
    margin-right: 26px;
  }

  .arrowRight {
    display: flex;
    width: 50px;
    height: 50px;
    margin-left: 26px;
  }

  .HappyStoriesCart {
    width: 970px;
    height: 383px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .HappyStoriesImg {
    width: 288px;
    height: 266.978px;
    margin-left: 40px;
    margin-top: 0;
  }

  .quottes {
    width: 38px;
    height: 31px;
    margin-top: 0px;
  }

  .HappyStoriesText {
    width: 539px;
    font-size: 20px;
    text-align: left;
    height: 170px;
  }

  .quoteAndText {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    margin-left: 63px;
    margin-top: 0;
  }

  .threePoints {
    display: flex;
    gap: 10px;
    margin-top: 30px;
  }

  .Contact {
    height: 568px;
    flex-direction: row;
    width: 100vw;
  }

  .ContactSubline {
    background: url(Assets/vuesax/outline/ContactSubline.svg) 0 bottom no-repeat;
    background-size: contain;
  }

  .ContactTitle {
    margin-top: 100px;
    font-size: 48px;
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-align: center;
    position: relative;
    margin-top: 130px;
  }

  .coordinates {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 135px;
    width: 648px;
    align-items: flex-start;
  }

  .coordinatesLine {
    gap: 13px;
  }

  form {
    width: 570px;
    height: 564px;
    margin-top: 120px;
    margin-right: 135px;
  }

  .form {
    margin-top: 40px;
    margin-left: 40px;
  }

  input {
    width: 481px;
  }

  .formButton {
    margin-left: 0px;
  }

  .StayUpdates {
    width: 100vw;
  }

  .stayUpdatedTitle {
    position: relative;
    margin-top: 100px;
    color: #1a2630;
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 130px;
  }

  .stayUpdatedGridContainer {
    grid-template-columns: auto auto auto;
    margin-top: 77px;
  }

  .stayUpdatedGrid {
    width: 370px;
    height: 366px;
  }

  .stayUpdatedImg {
    width: 370px;
    height: 210px;
    border-radius: 15px 15px 0px 0px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  }

  .UpdatedSubline {
    background: url(Assets/vuesax/outline/UpdatedSubline.svg) 0 bottom no-repeat;
    background-size: contain;
  }

  .readMoreArrow {
    width: 20px;
    height: 20px;
    color: black;
  }

  .stayUpdatedButton {
    border-radius: 8px;
    background: #4361ee;
    display: inline-flex;
    height: 54px;
    padding: 16px 34px;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    margin-top: 50px;
    margin-left: 0px;
  }

  footer {
    display: flex;
    height: 434px;
    margin-top: 130px;
    width: 100%;
  }

  .footerMain {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 70px;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }

  .footerLogo {
    width: 70px;
    height: 70px;
    margin-top: 60px;
    margin-left: 0px;
  }

  .footerLogosDiv {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    align-items: flex-start;
  }

  .footerLogosTypes {
    margin-left: 0px;
  }

  .footerContact {
    margin-top: 60px;
    order: 2;
    margin-left: 0px;
  }

  .Explore {
    order: 3;
    gap: 20px;
    margin-top: 60px;
    margin-left: 0px;
  }

  .footerlogoTitle {
    color: #f5f5f5;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .exploreTitle {
    color: #f5f5f5;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .exploreDivs {
    color: #f5f5f5;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .SubscribetoourNewsletter {
    order: 4;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 60px;
    margin-left: 0px;
  }

  .SubrcribeNewsTitle {
    color: #f5f5f5;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .footermail {
    color: #fff;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .footerInput {
    width: 370px;
    height: 48px;
    border-radius: 6px;
    border: 1px solid #7b7c82;
    background: #03071b;
    max-width: 100vw;
  }

  .conditions {
    color: #f5f5f5;
    font-family: "Nunito Sans", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .footerButton {
    width: 150px;
    height: 46px;
    display: inline-flex;
    padding: 13px 26px;
    align-items: center;
    gap: 6px;
    border-radius: 8px;
    background: #4361ee;
    margin-top: 0px;
    margin-left: 0px;
  }

  .copyRight {
    color: #f5f5f5;
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #03071b;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 82px;
  }

  .craftingVision,
  .BrandIdentity,
  .Services,
  .HappyStories,
  .StayUpdates,
  .footerMain {
    overflow-x: auto;
  }
}
