@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,400;6..12,600&display=swap");
@media (min-width: 670px) and (max-width: 1024px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 6%;
    padding-left: 6%;
    margin-top: 3vh;
  }

  .craftingVision {
    display: flex;
    flex-direction: row;
    background-color: #e9f4ff;
    height: 30vh;
    margin-top: 3vh;
    justify-content: space-between;
  }

  .textCrafting {
    color: #1a2630;
    position: relative;
    font-family: "Nunito Sans";
    font-size: 2em;
    text-align: left;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    width: 354px;
    margin-top: 0px;
  }

  .CraftingSubline {
    background: url(Assets/vuesax/outline/CraftingSubline.svg) 0 bottom
      no-repeat;
    background-size: contain;
  }

  .leftPart1 {
    padding-left: 6%;
    align-items: flex-start;
  }

  .LestTalk {
    display: inline-flex;
    border-radius: 8px;
    background: #4361ee;
    padding: 16px 34px;
    align-items: center;
    gap: 6px;
    border: none;
    font-family: "Nunito Sans", sans-serif;
    color: white;
    font-weight: 700;
    font-size: 18px;
    margin-top: 20px;
  }

  .rowsDots {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15.625px;
    margin-bottom: 160px;
    margin-left: 455px;
    position: absolute;
  }

  .workingWomanImg {
    position: relative;
    width: 279px;
    height: 284.034px;
    margin-top: 65px;
    border-radius: 15px;
    margin-right: 69px;
  }

  .BrandIdentity {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .BrandIdentityTitle {
    font-size: 32px;

    margin-top: 110px;
  }

  .BrandIdentitySubTitle {
    width: 648px;

    margin-top: 40px;
    text-align: center;
  }

  .leftPartBrand {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .BrandSubline {
    background: url(Assets/vuesax/outline/BrandSubline.svg) 0 bottom no-repeat;
    background-size: contain;
  }

  .BrandImg {
    width: 342px;
    height: 317px;
    margin-top: 40px;
  }

  .brandText1 {
    width: 648px;

    margin-top: 40px;
    text-align: left;
  }

  .brandText2 {
    width: 648px;
    margin-top: 20px;
    text-align: left;
  }

  .Services {
    height: 1002px;
  }

  .servicesGrid {
    display: grid;
    row-gap: 50px;
    column-gap: 30px;
    flex-direction: row;
    padding-right: 60px;
    padding-left: 60px;
    grid-template-columns: auto auto;
    margin-top: 80px;
  }

  .ServicesTitle {
    font-size: 32px;
  }

  .rectangleDiv {
    row-gap: 40px;

    margin-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .ServiceSubline {
    background: url(Assets/vuesax/outline/ServiceSubline.svg) 0 bottom no-repeat;
    background-size: contain;
  }

  .designRectangle1,
  .designRectangle2,
  .designRectangle3,
  .designRectangle4 {
    display: flex;
  }

  .rectangle {
    width: 314px;
    height: 320px;
  }

  .designRectangle5,
  .designRectangle6,
  .designRectangle7,
  .designRectangle8 {
    display: none;
  }

  .logoRectangleDiv {
    gap: 14px;
    font-size: 20px;
    margin-top: 214px;
    padding-left: 30px;
    width: 300px;
  }

  .vuesaxLogo {
    width: 36px;
    height: 36px;
  }

  .RequestQuoteDiv {
    font-size: 16px;
    padding-left: 30px;
    padding-top: 140px;
  }

  .ViewMoreBtn {
    margin-top: 50px;
  }

  .HappyStories {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .HappyStoriesTitle {
    font-size: 32px;
    margin-top: 100px;
  }

  .StoriesSubline {
    background: url(Assets/vuesax/outline/StoriesSubline.svg) 0 bottom no-repeat;
    background-size: contain;
  }

  .bannerArrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .arrowLeft {
    width: 50px;
    height: 50px;
    margin-right: 26px;
  }

  .arrowRight {
    width: 50px;
    height: 50px;
    margin-left: 26px;
  }

  .HappyStoriesCart {
    width: 482px;
    height: 686px;
    margin-top: 55px;
    align-items: center;
    display: flex;
  }

  .quoteAndText {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .HappyStoriesImg {
    width: 288px;
    height: 267px;
    margin-top: 40px;
  }

  .quottes {
    width: 38px;
    height: 31px;
    margin-top: 50px;
  }

  .HappyStoriesText {
    width: 422px;
    font-size: 20px;
  }

  .threePoints {
    display: flex;
    gap: 10px;
    margin-top: 30px;
  }

  .Contact {
    height: 798px;
  }

  .ContactSubline {
    background: url(Assets/vuesax/outline/ContactSubline.svg) 0 bottom no-repeat;
    background-size: contain;
  }

  .ContactTitle {
    margin-top: 100px;
    font-size: 32px;
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    text-align: center;
    position: relative;
  }

  .coordinates {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    gap: 45px;
    margin-left: 60px;
    margin-right: 60px;
    width: 648px;
    align-items: flex-start;
  }

  .coordinatesLine {
    gap: 13px;
  }

  form {
    width: 570px;
    height: 564px;
    margin-top: 60px;
  }

  .form {
    margin-top: 40px;
    margin-left: 40px;
  }

  input {
    width: 481px;
  }

  .formButton {
    margin-left: 0px;
  }

  .stayUpdatedTitle {
    position: relative;
    margin-top: 100px;
    color: #1a2630;
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .stayUpdatedGridContainer {
    grid-template-columns: auto auto;
    margin-top: 55px;
    overflow: scroll;
    height: 375px;
  }

  .stayUpdatedGrid {
    width: 314px;
    height: 354px;
  }

  .stayUpdatedImg {
    width: 314px;
    height: 210px;
    border-radius: 15px 15px 0px 0px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  }

  .stayUpdatedGridImgTitle {
    margin-top: 20px;
    padding-left: 30px;
  }

  .UpdatedSubline {
    background: url(Assets/vuesax/outline/UpdatedSubline.svg) 0 bottom no-repeat;
    background-size: contain;
  }

  .readMoreArrow {
    width: 20px;
    height: 20px;
    color: black;
  }

  .stayUpdatedButton {
    border-radius: 8px;
    background: #4361ee;
    display: inline-flex;
    height: 54px;
    padding: 16px 34px;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    margin-top: 50px;
    margin-left: 0px;
  }

  footer {
    display: flex;
    height: 605px;
    margin-top: 100px;
    width: 100%;
  }

  .footerMain {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    padding-right: 90px;
    align-items: center;
    justify-content: center;
  }

  .footerLogo {
    width: 62px;
    height: 62px;
    margin-top: 50px;
    margin-left: 60px;
  }

  .footerLogosDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0px;
  }

  .footerLogosTypes {
    padding-left: 60px;
  }

  .footerContact {
    padding-left: 60px;
    margin-top: 60px;
  }

  .Explore {
    padding-left: 105px;
  }

  .footerlogoTitle {
    color: #f5f5f5;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .Explore {
    gap: 16px;
    margin-top: 60px;
  }

  .exploreTitle {
    color: #f5f5f5;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .exploreDivs {
    color: #f5f5f5;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .SubscribetoourNewsletter {
    padding-left: 100px;
  }

  .SubrcribeNewsTitle {
    color: #f5f5f5;
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .footermail {
    color: #fff;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .footerInput {
    max-width: 100vw;
    height: 48px;
    border-radius: 6px;
    border: 1px solid #7b7c82;
    background: #03071b;
  }

  .conditions {
    color: #f5f5f5;
    font-family: "Nunito Sans", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .footerButton {
    width: 150px;
    height: 46px;
    display: inline-flex;
    padding: 13px 26px;
    align-items: center;
    gap: 6px;
    border-radius: 8px;
    background: #4361ee;
    margin-top: 0px;
    margin-left: 0px;
  }

  .copyRight {
    color: #f5f5f5;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #03071b;
    width: 100vw;
    text-align: center;
    justify-content: center;
    padding-bottom: 1vh;
    padding-top: 1vh;
  }
}
